{% extends "layout.html" %}

{% load static %}

{% block title %} | Favorites Drinks{% endblock %}

{% block body %}
    
    <section id="drinks-page-content">
        
        <div id="drinks-container">
            {% if message %}
                <div id="no-favorite-drinks-message">
                        <h5>{{message}}</h5>
                </div>
            {% endif %}

            {% for drink in drinks %}
                <div id="drink-container" class="drink-container{{drink.id}}">

                    <div class="drink-content">

                        <div class="your-drink-button-container">
                            {% if request.user.is_authenticated %}
                            <a id="favorite-drink-link" class="{% if request.user in drink.favorites.all %}your-drink-button-in-list{% else %}your-drink-button{% endif %} favorite-drink-link{{drink.id}}" 
                            data-postid="{{ drink.id }}">+</a>
                            {% endif %}
                        </div>
                        <div class="drink-img-container">
                            <img src="{{drink.drink_image}}" alt="cocktail">
                        </div>
                        <div class="drink-name-title">
                            <h3>{{drink.drink_name}}</h3>
                        </div>
                        <div class="drink-ingredients">
                            <p><em>Ingredients:</em>
                                    {% for ingredient in drink.ingredients.all.values %}
                                        {{ingredient.ingredient_name}}.
                                    {% endfor %}
                            </p>
                        </div>
                        <div class="drink-category">
                            <p><em>Category:</em> {{drink.category.category_name}}</p>
                        </div>
                        <div class="drink-instructions">
                            <p><em>Instructions: </em>
                            {{drink.drink_instructions}}</p>
                        </div>
                        
                    </div>

                </div>
            {% endfor %}
        </div>

        {% if drinks %}
            <div class="pagination">
                <div id="pagination-content">
                    <span class="step-links">
                        {% if drinks.has_previous %}
                            <a id="paginator-previous-link" href="?page={{ drinks.previous_page_number }}">{{drinks.previous_page_number}}</a>
                        {% endif %}
                        <span class="current">
                            Page {{ drinks.number }} of {{drinks.paginator.num_pages}}
                        </span>
                        {% if drinks.has_next %}
                            <a id="paginator-next-link" href="?page={{ drinks.next_page_number }}">{{drinks.next_page_number}}</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        {% endif %}
        
    </section>

{% endblock %}

{% block script %}
    <script src="{% static '/js/remove_favorite.js' %}"></script>
{% endblock %}