{% extends "layout.html" %}

{% load static %}

{% block title %} | Home{% endblock %}

{% block body %}
    <section id="index-content">
        <div id="index-banner-container">
            <div class="banner-content">
                <div class="banner-container-content">

                    <h1 class="banner-title">
                        DrinkTeamClub 
                    </h1>

                    <h2 class="banner-title">
                        Here you can <em>search</em> your favorites <em>cocktails</em> 
                    </h2>
                    <!--<form action="" method="">-->
                        <div class="banner-random-button">
                            <button  id="random-button">Random Cocktail</button>
                        </div>
                    <!--</form>-->

                </div>
                
            </div>
            
        </div>

        <div id="random-modal-content">

            <div id="random-modal-container">
                
                <div class="drink-content">
                    <div class="drink-img-random-container">
                        
                    </div>
                    <div class="drink-name-title">
                            
                    </div>
                    <div class="drink-ingredients">
                        
                    </div>
                    <div class="drink-category">
                        
                    </div>
                    <div class="drink-instructions">
                        
                    </div>
                    <div class="close-random-drink">
                        
                    </div>
                </div>
            </div>
            
        </div>

        <section id="search-cocktail-content">

            <div id="search-cocktail-container">

                <div class="search-cocktail-form">
                    <div id="search-cocktail-name">
                        <h2>Search by name</h2>
                        <form action="{% url 'search_by_name' %}" method="POST">
                            {% csrf_token %}
                            {{drinkForm}}
                            <button class="search-cocktail-buttons">Drink</button>
                        </form>
                    </div>
                </div>

                <div class="search-cocktail-form">
                    <div id="search-cocktail-category">
                        <h2>Search by category</h2>
                        <form action="{% url 'search_by_category' %}" method="POST">
                            {% csrf_token %}
                            {{categoryForm}}
                            <button class="search-cocktail-buttons">Drink</button>
                        </form>
                    </div>
                </div>

                <div class="search-cocktail-form">
                    <div id="search-cocktail-ingredient">
                        <h2>Search by ingredient</h2>
                        <form action="{% url 'search_by_ingredient' %}" method="POST">
                            {% csrf_token %}
                            {{ingredientForm}}
                            <button class="search-cocktail-buttons">Drink</button>
                        </form>
                    </div>
                </div>

            </div>

        </section>

    </section>
    
{% endblock %}

{% block script %}
    <script src="{% static '/random_drink.js' %}"></script>
{% endblock %}