{% extends "layout.html" %}

{% block title %} | Inicio{% endblock %}

{% block body %}
    <section id="index-content">
        <div id="index-banner-container">
            <div class="banner-content">
                <div class="banner-title-content">
                    <h1 id="banner-title">
                        In DrinkTeamClub you can search your favorites cocktails
                    </h1>
                </div>
                
            </div>
            
        </div>

        <div id="otro">

        </div>
    </section>
    


    
{% endblock %}