{% extends "layout.html" %}

{% block title %} | Inicio{% endblock %}

{% block body %}
    <section id="index-content">
        <div id="index-banner-container">
            <div class="banner-content">
                <div class="banner-container-content">

                    <h1 class="banner-title">
                        DrinkTeamClub 
                    </h1>

                    <h2 class="banner-title">
                        Here you can <em>search</em> your favorites <em>cocktails</em> 
                    </h2>

                    <div class="banner-random-button">
                        <button id="random-button">Random Cocktail</button>
                    </div>

                </div>
                
            </div>
            
        </div>

        <div id="otro">

        </div>
    </section>
    


    
{% endblock %}