*{
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#website-area{
    width: 100%;
    height: 1000px;
}

@font-face{
    font-family: "OpenSansBold";
    src: url("fonts/OpenSans-ExtraBold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* CSS styles for nav */

#header{
    width: 100%;
    height: 55px;
    border-bottom: 1px solid rgba(68, 67, 67, 0.5);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: -3px 3px 7px grey;
}

.menu-fixed{
    position: sticky;
    z-index: 1000;
    top: 0px;
    background: black;
}

#logo{
    display:flex;
    background: linear-gradient(to left, #bfd200  0%, #ffff3f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 10px 0 10px;
    border: 0px solid yellow;
}


#logo h2{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
}

#nav{
    display: flex;
    flex-grow: 1;
    height: 22px;
    border: 0px solid red;
}

#nav > ul{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    height: 100%;
    border: 0px solid blue;  
}

#nav ul li{
    margin: 0;
    margin-right: 0px;
    margin-right: 7%;
    height: 100%;
    border: 0px solid orange;
}

#nav > ul a{
    color: white;
    transition: all 400ms;
}

#nav ul li a:hover{
    color: #ffff3f;
    transform: scale(1.5,1.5);
}

@media (max-width: 550px){
    #header{
        height: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    #logo{
        width: 100%;
        margin: 0 0 0 0;
        flex-basis: 50%;
        align-items: center;
    }

    #nav{
        flex-basis: 45%;
        width: 100%;
    }

    #nav > ul{
        width: 100%;
        justify-content: space-evenly;
    }

    #nav ul li{
        margin: 0;
        line-height: 35px;
    }


}

/* Register and login page styles*/
#container-form{
    width: 70%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 50px;
}

#container-register-form,
#container-login-form{
    width: 400px;
    height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 5px;
    box-shadow: -3px 0px 3px #ccc, 1px 0px 2px #ccc;
}

#container-login-form{
    height: 330px;
    margin-top: 80px;
}

.coctail-container-register-logo,
.coctail-container-login-logo{
    display: flex;
    align-items: center;
    margin: 10px;
}

.coctail-logo-img{
    width: 50px;
    height: 50px;
}

#register-container,
#login-container{
    width: 80%;
    margin: 0 auto;
}

#register-title,
#login-title{
    text-align: center;
    color: #bfd200;
    margin-bottom: 10px;
}

#register-container input,
#login-container input{
    width: 80%;
    height: 30px;
    margin: 0 auto;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-left: 30px;
    border: 0px;
    border-bottom: 2px solid #a2b105;
    font-weight: bold;
}

#register-container input:focus, 
#register-container button:focus,
#login-container input:focus,
#login-container button:focus{
    outline: none;
}

#register-container button,
#login-container button{
    width: 80%;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 30px;
    background: #bfd200;
    border: 0px;
    font-size: 15px;
    border-radius: 30px;
    transition: all 400ms;
}

#register-container button:hover,
#login-container button:hover{
    background: #a2b105;
    cursor: pointer;
}

#login-message,
#register-message{
    margin: 10px;
    text-align: center;
    background: #fdd;
    padding: 7px;
    border: 0.1px solid red;
    border-radius: 2px;
    font-size: 15px;
    color: rgb(228, 10, 10);
}

.get-account,
.get-login{
    text-align: center;
    margin: 5%;
    font-size: 14px;
}

@media (max-width: 550px){
    #container-register-form,
    #container-login-form{
        margin: 0 auto;
        width: 350px;
    }
}

@media (max-width: 480px){
    #container-register-form,
    #container-login-form{
        width: 100%;
    }
    #register-container,
    #login-container{
        margin-left: 5%;
    }
    #register-title,
    #login-title{
        margin-left: 12%;
    }
}