{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image-xicon" href="/../static/img/martini-18-486106.png">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Drink Team Club{% block title %}{% endblock %}</title>
    {% block script %}
    {% endblock %}
</head>
<body>
    <div id="website-area">
        <header id="header" class="menu-fixed">
            <div id="logo">
                <a href="{% url 'index' %}">
                    <h2>DrinkTeamClub</h2>
                </a>
            </div>
            <nav id="nav">
                <ul>
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'your_drinks' username=request.user.username %}">
                                <span id="username-title">{{request.user.username}}</span>'s Drinks
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Log In</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    
                    {% else %}
                    <li>
                        <a href="{% url 'signup' %}">Register</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">Log out</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
            
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>

        <footer>
            <div id="footer-container">
                <div id="footer-content">
                    <h3>Juan Najul Web</h3>
                    <p>juannajulvillegas@gmail.com</p>
                    <p>&copy; Copyright. All rights reserved</p>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>